:root {
    --primary-color: #374560;
    --secondary-color: #BABDC460;
    --font: "Verdana", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font);
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

html, body {
    height: 100%;
}

.main {
    height: 100%;
    background-color: var(--primary-color);
}

.container {
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--secondary-color);
    box-sizing: border-box;
}

.slider_container {
    display: grid;
    grid-template-areas:
    "slider slider"
    "text_container bullets";
    grid-template-rows: 1fr 20rem;
    grid-template-columns: 2fr, 1fr;
    max-width: 120rem;
    height: 100vh;
    padding: 5rem;
    overflow: hidden;
}

.slider {
    grid-area: slider;
    display: flex;
    width: 500%;
    height: 100%;    
}

.slider-slide {
    width: 20%;
    height: auto;
    padding: 0 8rem;
    transition: all .8s ease;

}

.slider-slide > img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* input[type="radio"] {
    opacity: 0;
} */

.text_container {
    grid-area: text_container;
    display: flex;
    align-items: flex-start;
    width: 500%;
    height: auto;
    overflow: hidden;
}

.text {
    width: 20%;
    padding-left: 2rem;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    transition: all .6s ease;
    transition-delay: .2s;
}

.bullets {
    grid-area: bullets;
    display: flex;
    justify-content: flex-end;
    padding-right: 7rem;
}

.bullet_item {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    cursor: pointer;
}

.bullet_item__inner {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}

#bullet-1:checked ~ .slider > .slider-slide__1 {
    margin-left: 0;
}

#bullet-2:checked ~ .slider > .slider-slide__1 {
    margin-left: -20%;
}

#bullet-3:checked ~ .slider > .slider-slide__1 {
    margin-left: -40%;
}

#bullet-4:checked ~ .slider > .slider-slide__1 {
    margin-left: -60%;
}

#bullet-5:checked ~ .slider > .slider-slide__1 {
    margin-left: -80%;
}

.bullet__item:hover > .bullet_item__inner {
    border: 0.2rem solid black;
}

#bullet-1:checked ~ .text_container > .text__1 {
    margin-left: 0;
    opacity: 1;
}

#bullet-2:checked ~ .text_container > .text__2 {
    margin-left: -20%;
    opacity: 1;
}

#bullet-3:checked ~ .text_container > .text__3 {
    margin-left: -40%;
    opacity: 1;
}

#bullet-4:checked ~ .text_container > .text__4 {
    margin-left: -60%;
    opacity: 1;
}

#bullet-5:checked ~ .text_container > .text__5 {
    margin-left: -80%;
    opacity: 1;
}

#bullet-1:checked ~ .bullets > .bullet__1 > .bullet_item__inner,
#bullet-2:checked ~ .bullets > .bullet__2 > .bullet_item__inner,
#bullet-3:checked ~ .bullets > .bullet__3 > .bullet_item__inner,
#bullet-4:checked ~ .bullets > .bullet__4 > .bullet_item__inner,
#bullet-5:checked ~ .bullets > .bullet__5 > .bullet_item__inner {
    background-color: #fff;
}